@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
}
@media (max-width: 1100px) {
  body body.lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.container {
  max-width: 1150px;
  margin: 0px auto;
  padding: 0 50px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background: #000;
  position: fixed;
  padding: 10px 0;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 2;
}
.header .header__burger {
  display: none;
}
.header .header__body {
  position: relative;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px auto;
}
.header .header__body .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}
.header .header__body .header__logo .header__img {
  max-width: 70px;
  margin: 0px 30px 0px 0px;
}
.header .header__body .header__logo .header__img img {
  width: 100%;
}
.header .header__body .header__logo .header__title a {
  text-decoration: none;
  color: #f06d28;
  font-size: 20px;
  font-weight: 700;
}
.header .header__body .header__nav .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}
.header .header__body .header__nav .header__list li {
  list-style: none;
}
.header .header__body .header__nav .header__link a {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin: 0px 10px 0px 0px;
}
.header .header__body .header__nav .header__link a:hover {
  border-bottom: 1px solid #666;
}
.header .header__body .header__nav .header__email {
  color: #f06d28;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0px 0px 30px;
}
@media (max-width: 1100px) {
  .header .header__row {
    height: 30px;
  }
  .header .header__burger {
    display: block;
    position: relative;
    width: 36px;
    height: 23px;
    position: relative;
    z-index: 3;
  }
  .header .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 3px;
    top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__burger:before,
.header .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__burger:before {
    top: 0;
  }
  .header .header__burger:after {
    bottom: 0;
  }
  .header .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }
  .header .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
  }
  .header .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header .header__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30px;
            flex: 0 1 30px;
  }
  .header .header__name {
    font-size: 16px;
  }
  .header .header__nav {
    position: fixed;
    overflow: auto;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    padding: 120px 20px 30px 20px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__nav.active {
    top: 0;
  }
  .header .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .header__list li {
    margin: 0px 0px 60px 0px;
  }
  .header .header__link a {
    font-size: 40px;
  }
  .header .header__email {
    margin: 0;
  }
}

.home {
  padding: 200px 0;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/home.jpg);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/home.jpg);
}
.home .home__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .home__column .home__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
}
.home .home__column .home__phone .home__icon {
  max-width: 50px;
  margin: 0px 20px 0px 0px;
}
.home .home__column .home__phone .home__icon img {
  width: 100%;
}
.home .home__column .home__phone .home__number {
  color: #f06d28;
  font-weight: 500;
  font-size: 40px;
}
.home .home__column .home__btn a {
  display: inline-block;
  padding: 13px 20px;
  background: #f06d28;
  color: #fff;
  border-radius: 5px;
  margin: 0px 0px 50px 0px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.home .home__column .home__btn a:hover {
  background: #FF912B;
}
.home .home__column .home__title {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.37;
  margin: 0px 0px 20px 0px;
}
.home .home__column .home__subtitle {
  font-size: 30px;
  font-weight: 700;
}

.about {
  padding: 70px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/wood.jpg);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/wood.jpg);
}
.about .about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -50px;
}
.about .about__row .about__body {
  margin: 0px 50px;
}
.about .about__row .about__body .about__title {
  font-weight: 700;
  font-size: 30px;
  margin: 0px 0px 50px 0px;
}
.about .about__row .about__body .about__subtitle {
  font-size: 20px;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about .about__row .about__body .about__subtitle .about__item {
  margin: 0px 0px 30px 0px;
}
.about .about__row .about__body .about__subtitle .about__item .about__bold {
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}
.about .about__row .about__body .about__subtitle .about__item span {
  color: #f06d28;
}
.about .about__row .about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.about .about__row .about__img img {
  width: 100%;
}

.market {
  padding: 70px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/wood.jpg);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/wood.jpg);
}
.market .market__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.market .market__section .market__superbody {
  margin: 0px 0px 30px 0px;
}
.market .market__section .market__superbody .market__supertitle {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0px 0px 30px 0px;
  padding: 30px 0px 0px 0px;
}
.market .market__section .market__superbody .market__supertext {
  font-size: 30px;
  line-height: 35px;
  margin: 0px 0px 30px 0px;
}
.market .market__section .market__title {
  font-size: 30px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}
.market .market__section .market__small-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0px auto 20px auto;
}
.market .market__section .market__small-row .market__small-item {
  background: #fff;
  color: #000;
  margin: 20px 20px;
  padding: 30px;
}
.market .market__section .market__small-row .market__small-item .market__small-column .market__small-img {
  max-width: 250px;
  margin: -30px -30px 30px -30px;
}
.market .market__section .market__small-row .market__small-item .market__small-column .market__small-img img {
  width: 100%;
}
.market .market__section .market__small-row .market__small-item .market__small-column .market__small-name {
  text-align: center;
  margin: 0px 0px 40px 0px;
  font-weight: 700;
  font-size: 22px;
  position: relative;
}
.market .market__section .market__small-row .market__small-item .market__small-column .market__small-name:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -80%;
  width: 100%;
  height: 1px;
  background: #000;
}
.market .market__section .market__small-row .market__small-item .market__small-column .market__small-desc {
  margin: 0px 0px 40px 0px;
  position: relative;
  line-height: 20px;
}
.market .market__section .market__small-row .market__small-item .market__small-column .market__small-desc:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -20%;
  width: 100%;
  height: 2px;
  background: #000;
}
.market .market__section .market__small-row .market__small-item .market__small-column .market__small-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.market .market__section .market__small-row .market__small-item .market__small-column .market__small-order .market__small-price {
  font-weight: 700;
  font-size: 24px;
}
.market .market__section .market__small-row .market__small-item .market__small-column .market__small-order .market__small-btn button {
  display: inline-block;
  padding: 13px 20px;
  background: #f06d28;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.market .market__section .market__small-row .market__small-item .market__small-column .market__small-order .market__small-btn button:hover {
  background: #FF912B;
}
.market .market__section .market__big-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px auto;
}
.market .market__section .market__big-row .market__big-item {
  background: #fff;
  color: #000;
  max-width: 350px;
  margin: 25px 25px;
  padding: 30px;
}
.market .market__section .market__big-row .market__big-item .market__big-column .market__big-img {
  max-width: 350px;
  margin: -30px -30px 30px -30px;
}
.market .market__section .market__big-row .market__big-item .market__big-column .market__big-img img {
  width: 100%;
}
.market .market__section .market__big-row .market__big-item .market__big-column .market__big-name {
  text-align: center;
  margin: 0px 0px 40px 0px;
  font-weight: 700;
  font-size: 26px;
  position: relative;
}
.market .market__section .market__big-row .market__big-item .market__big-column .market__big-name:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -80%;
  width: 100%;
  height: 1px;
  background: #000;
}
.market .market__section .market__big-row .market__big-item .market__big-column .market__big-desc {
  margin: 0px 0px 60px 0px;
  position: relative;
  line-height: 20px;
}
.market .market__section .market__big-row .market__big-item .market__big-column .market__big-desc:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -20%;
  width: 100%;
  height: 2px;
  background: #000;
}
.market .market__section .market__big-row .market__big-item .market__big-column .market__big-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.market .market__section .market__big-row .market__big-item .market__big-column .market__big-order .market__big-price {
  font-weight: 700;
  font-size: 24px;
}
.market .market__section .market__big-row .market__big-item .market__big-column .market__big-order .market__big-btn button {
  display: inline-block;
  padding: 13px 20px;
  background: #f06d28;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.market .market__section .market__big-row .market__big-item .market__big-column .market__big-order .market__big-btn button:hover {
  background: #FF912B;
}

.comments {
  background: #000;
  padding: 50px 0;
}
.comments .comments__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comments .comments__body .comments__title {
  font-size: 50px;
  margin: 0px 0px 50px 0px;
}
.comments .comments__body .comments__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -20px;
}
.comments .comments__body .comments__items .comments__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 20px;
}
.comments .comments__body .comments__items .comments__item .comments__text {
  line-height: 25px;
  margin: 0px 0px 20px;
}
.comments .comments__body .comments__items .comments__item .comments__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comments .comments__body .comments__items .comments__item .comments__author .comments__img {
  max-width: 60px;
  margin: 0px 20px 0px 0px;
}
.comments .comments__body .comments__items .comments__item .comments__author .comments__img img {
  width: 100%;
  border-radius: 50%;
}
.comments .comments__body .comments__items .comments__item .comments__author .comments__name {
  font-weight: 700;
}

.feedback {
  background: #fff;
  color: #000;
  padding: 50px 0;
  font-weight: 500;
}
.feedback .feedback__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback .feedback__body .feedback__title {
  font-size: 40px;
  margin: 0px 0px 30px 0px;
}
.feedback .feedback__body .feedback__subtitle {
  font-size: 26px;
  margin: 0px 0px 40px 0px;
}
.feedback .feedback__body .feedback__btn a {
  display: inline-block;
  padding: 13px 20px;
  background: #2d8a3a;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  margin: 0px 0px 10px 0px;
}
.feedback .feedback__body .feedback__subsubtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feedback .feedback__body .feedback__subsubtitle .feedback__logo {
  max-width: 100px;
  margin: 0px 20px 0px 0px;
}
.feedback .feedback__body .feedback__subsubtitle .feedback__logo img {
  width: 100%;
}
.feedback .feedback__body .feedback__subsubtitle .feedback__text {
  font-weight: 700;
}

.footer {
  background: #1b1b1c;
  padding: 30px 0;
}
.footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__row .footer__logo {
  max-width: 180px;
}
.footer .footer__row .footer__logo img {
  width: 100%;
}
.footer .footer__row .footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer__row .footer__body .footer__title {
  margin: 0px 0px 30px 0px;
  font-weight: 500;
}
.footer .footer__row .footer__body .footer__subtitle {
  line-height: 20px;
}